vti_encoding:SR|utf8-nl
vti_author:SR|?
vti_modifiedby:SR|?
vti_timelastmodified:TR|18 Sep 2002 14:11:42 -0000
vti_timecreated:TR|18 Sep 2002 14:11:42 -0000
vti_cacheddtm:TX|18 Sep 2002 14:11:44 -0000
vti_filesize:IR|5056
vti_cachedlinkinfo:VX|S|piebanr.gif S|piehbtn.gif S|piehsel.gif S|piehom.gif S|pienxt.gif S|piebck.gif S|pieup.gif S|pieglobl.gif S|pievbtn.gif S|pievsel.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/piechart/piebanr.gif FSUS|_themes/piechart/piehbtn.gif FSUS|_themes/piechart/piehsel.gif FSUS|_themes/piechart/piehom.gif FSUS|_themes/piechart/pienxt.gif FSUS|_themes/piechart/piebck.gif FSUS|_themes/piechart/pieup.gif FSUS|_themes/piechart/pieglobl.gif FSUS|_themes/piechart/pievbtn.gif FSUS|_themes/piechart/pievsel.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{3A7288DE-CB38-11D6-AB60-C56C148AB722}
vti_backlinkinfo:VX|
